/* Dialog */
.sb_dialog_layer {
    outline: none;
    opacity: 0;
    filter:alpha(opacity=0);
    position: fixed;
    _position: absolute;
    width: 400px;
    left: -9999px;
    top:-99999px;
}
.sb_dialog_layer_main{
    border: 1px solid #999;
    box-shadow: 0 0 40px #535658;
    font-size: 14px;
    border-radius: 6px;
    overflow: hidden;
}
.sb_dialog_layer_title h3{
    float: left;
    height: 31px;
    color: #4C4C4C;
    font-size: 14px;
    line-height: 31px;
    overflow: hidden;
    margin: 0;
    padding-left: 10px;
    font-weight: bold;
    text-shadow: 0 1px 1px #FFF;
}
.sb_dialog_btn_close {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    float: right;
    height: 31px;
    line-height: 31px;
    width: 30px;
    font-size: 21px;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    filter: alpha(opacity=20);
}
.sb_dialog_btn_close:hover{
    text-decoration: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.sb_dialog_layer_title {
    padding: 4px;
    border-bottom: 1px solid #E5E5E5;
    background: #F3F3F3;
}
.sb_dialog_layer_cont{
    min-height: 20px;
    overflow: auto;
    background-color: #FFF;
    padding: 7px;
}
.sb_tip_button{
	padding: 7px;
	text-align: right;
	background: #F3F3F3;
}
.sb_tip_button .btn{
    margin-right: 7px;
}
.sb_dialog_modal{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 998;
    opacity: 0.3;
    background-color: #000;
    filter: alpha(opacity=30);
}
.sb_dialog_modal .sb_dialog_modal_link{
    display: block;
    width: 100%;
    height: 100%;
    cursor:default;
}

/* MMDialog alert confirm info */
.sb-alert-box{
    text-align: center;
    line-height: 1.5;
    padding: 20px;
    font-size: 14px;
}
.sb-confirm-box{
    text-align: center;
    line-height: 1.5;
    padding: 20px;
    font-size: 14px;
}
.sb-confirm-icon{
    width:24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(images/message-icon.png) ; 
    background-repeat: no-repeat ;
    background-position: -96px center;
    margin-right: 14px;
}
.sb-info-box{
    position: relative;
    line-height: 1.5;
    padding: 20px;
}
.sb-dialog-icon{
    width:24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(images/message-icon.png) ; 
    background-repeat: no-repeat ;
    position: absolute;
    left: 20px;
    top: 20px;
}
.sb-info-txt{
    margin-left: 30px;
    vertical-align: top;
    display: inline-block;
    text-indent: 10px;
}
.sb-icon-warning{
    background-position: -24px center ;
}
.sb-icon-error{
    background-position: -48px center ;
}
.sb-icon-success{
    background-position: 0 center ;
}
.sb-icon-message{
    background-position: -72px center ;
}

/* Loading */
#sb-loading-box{
    position: fixed;
    left: -9999px;
    top: -9999px;
    display: none;
    width: 146px;
    height: 146px;
    z-index: 9999;
    border-radius: 10px;
    overflow: hidden;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#sb-loading-box .sb-loading-icon{
    width: 35px;
    height: 35px;
}
#sb-loading-box .sb-loading-cont{
    text-align: center;
    color: #f5f5f5;
    font-size: 14px;
    padding-top: 90px;
    background: url('images/sb_loading.gif') no-repeat 50% 50%;
    background-size: 35px 35px;
    
}
#sb-loading-box .sb-loading-txt{
    line-height: 1.5;
}

/* Message */
#toast-container {
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
}
#toast-container .toast{
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 15px 15px 15px 50px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    box-shadow: 0 0 12px #999;
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#toast-container>:hover{
    box-shadow: 0 0 12px #000;
}
.toast{
    background-color: #999999;
}
.toast-close{
    text-decoration: none;
    float:right;
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    filter: alpha(opacity=20);
}
.toast-close:hover, .toast-close:focus {
    opacity: .5;
    filter: alpha(opacity=50);
}
#toast-container .toast-info{
    background-color: #2f96b4;
    background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=")!important;
}
#toast-container .toast-warning{
    background-color: #ed9c28;
    background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=")!important;
}
#toast-container .toast-error{
    background-color: #bd362f;
    background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=")!important
}
#toast-container .toast-success{
    background-color: #51a351;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==")!important
}

#toast-container .toast-message{
    word-wrap: break-word;
    font-size: 16px;
    font-weight: bold;
    font-family: '微软雅黑';
}

/* Pagination */
.qaq-pagination{
    margin: 7px 0;
    padding: 0;
    list-style: none;
}
.qaq-pagination li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    *display: inline;*zoom:1;
}
.qaq-pagination .active a{
    font-weight: bold;
}
.qaq-pagination a{
    color:#428bca;
    text-decoration: none;
    display: inline-block;
    padding: 2px 6px;
    margin-right: 5px;
    cursor: pointer;
}
.qaq-pagination .disabled a{
    cursor:default;
}

/* ScreenMask*/
.qaq-screen-mask {
    z-index: 9998;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.qaq-screen-mask span{
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    height: 100%;
    background: url(images/loading-32.gif) center center no-repeat;
}

/* common */
.qaq-clearfix:after{
    content: "xxoo";
    height: 0;
    display: block;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}
*html .qaq-clearfix{height: 1%;}/*ie6*/
*+html .qaq-clearfix{min-height: 1px;}/*ie7*/
/* button */
.qaq .btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
}
.qaq .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.qaq .btn-default:hover, .qaq .btn-default:focus, .qaq .btn-default:active{
    color: #444444;
    background-color: #ebebeb;
    border-color: #adadad;
}
.qaq .btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.qaq .btn-primary:hover, .qaq .btn-primary:focus, .qaq .btn-primary:active{
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}
.qaq .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.qaq .btn-success:hover, .qaq .btn-success:focus, .qaq .btn-success:active{
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}
.qaq .btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.qaq .btn-info:hover, .qaq .btn-info:focus, .qaq .btn-info:active{
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc;
}
.qaq .btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.qaq .btn-warning:hover, .qaq .btn-warning:focus, .qaq .btn-warning:active{
    color: #fff;
    background-color: #ed9c28;
    border-color: #d58512;
}
.qaq .btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.qaq .btn-danger:hover, .qaq .btn-danger:focus, .qaq .btn-danger:active{
    color:#fff;
    background-color:#d2322d;
    border-color:#ac2925
}
.qaq a.link{
    color: #428bca;
}
.qaq a.link:hover,.qaq a.link:focus{
    color: #2a6496;
}